.royals {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.royals img {
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.royal {
    width: 250px;
    margin: 10px 10px;
    text-align: center;
}
