body {
    background-color: #cdcdcd;
    margin: 0;
}
  
header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.logo {
    height: 100%;
}

.logo_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
    height: 50px;
}

.menu {
    display: inline;
}

.menu a {
    margin: 0 30px;
    font-size: 25px;
    font-family: "Amatic SC", cursive;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkorange;
}

.welcome {
    height: 300px;
    background-image: url(../images/castle.jpg);
    background-size: cover;
    background-position-y: center;
    position: relative;
}

h1 {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 130px;
    text-align: center;
    color: orangered;
    background-color: #3f3e3ec7;
    line-height: 60px;
    font-size: 30px;
}

.history {
    font-size: large;
    font-family: Myfont, Arial;
}

/*--- Images ---*/
.royals img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    /* margin-top: 300px; */
}

.royals h1 {
    text-align: center;
    color: orangered;
}

.content {
   /*  position: absolute; */
    top: 50px;
    width: 100%;
    display: block;
}

