body {
    background-color: #cdcdcd;
    margin: 0;
    margin-bottom: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 50px;
}

.navbar-logo {
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Amatic SC", cursive;
    font-weight: bold;
}

nav a:hover {
    color: darkorange;
    background-color: #3f3e3ec7;
}

.welcome {
    height: 400px;
    background-image: url(../images/castle.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: orangered;
    background-color: #3f3e3ec7;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}
